{% extends 'index.html' %}

{% load static%}

{% block 'title' %}
<title>Contact Dev</title>
{% endblock %}
{% block 'content' %}
<div class="d-flex dev-section justify-content-center">
    <div class="container gap-4 d-flex flex-row justify-content-center align-items-center" style="flex-wrap: wrap;">
        <img class="dev-img img-fluid col-3" src="{% static 'image/dev.JPG' %}" alt="">
        <div class="d-flex flex-column">
            <h3 class="text-light">Khashayar Khosrosourmi</h3>
            <h5 class="text-light">Student Number: 22302442</h5>
            <a class="btn btn-outline-light m-2" href="https://www.github.com/zercsiz"><i class="bi bi-github me-2"></i>Github</a>
            <a class="btn btn-outline-light m-2" href=""><i class="bi bi-instagram me-2"></i>Instagram</a>
            <a class="btn btn-outline-light m-2" href=""><i class="bi bi-linkedin me-2"></i>LinkedIn</a>

        </div>

    </div>
</div>
{% endblock %}