{% extends 'index.html' %}
{% load static %}


{% block 'title' %}
    <title>CyRent - HomePage</title>
{% endblock %}

{% block 'content' %}
    <div class="background-container">
        <img class="img-fluid home-bg-image" src="{% static 'image/bg1.png' %}" alt="">
    </div>
    

    
    {% include 'home/inc/hero.html' %}
    {% include 'home/inc/company_info.html' %}
    {% include 'home/inc/testimonial.html' %}
    {% include 'home/inc/services.html' %}
    {% include 'home/inc/footer.html' %}
{% endblock %}