{% extends 'index.html' %}

{% load static %}

{% block 'title' %}
<title>CyRent - Login</title>
{% endblock %}

{% block 'content' %}
    <div class="sign-up-section">
        <div class="container d-flex align-items-center flex-column">      
            <div class="signup-card d-flex flex-column justify-content-center col-lg-4 col-md-6 col-sm-12 card p-3">
                <h3 class="text-center">Login</h3>
                <input class="form-control my-2" type="text/email" placeholder="Email" aria-label="default input example">
                <input class="form-control my-2" type="password" placeholder="Password" aria-label="default input example">
                <a class="btn btn-primary my-2" href="">Login</a>
                <div class="d-flex flex-row google-sign-up align-items-center justify-content-center">
                    <hr class="border border-dark w-100">
                    <p class="mt-2 mx-2">or</p>
                    <hr class="border border-dark w-100">
                    

                </div>
                <a class="btn btn-outline-dark" href=""><i class="bi bi-google me-2"></i>Login With Google</a>
                <a class="text-center my-2" href="{% url 'home:sign_up' %}" style="text-decoration: none; color: rgb(111, 111, 111);">I don't have an account</a>
                

            </div>
        </div>
    </div>
{% endblock %}