{% extends 'index.html' %}

{% load static %}

{% block 'title' %}
<title>CyRent - Sign Up</title>
{% endblock %}

{% block 'content' %}
    <div class="sign-up-section">
        <div class="container d-flex align-items-center flex-column">      
            <div class="signup-card d-flex flex-column justify-content-center col-lg-4 col-md-6 col-sm-12 card p-3">
                <h3 class="text-center">Sign Up</h3>
                <input class="form-control my-2" type="text/email" placeholder="Email" aria-label="default input example">
                <input class="form-control my-2" type="password" placeholder="Password" aria-label="default input example">
                <input class="form-control my-2" type="password" placeholder="Repeat Password" aria-label="default input example">
                <a class="btn btn-primary my-2" href="">Sign Up</a>
                <div class="d-flex flex-row google-sign-up align-items-center justify-content-center">
                    <hr class="border border-dark w-100">
                    <p class="mt-2 mx-2">or</p>
                    <hr class="border border-dark w-100">
                </div>
                <a class="btn btn-outline-dark" href=""><i class="bi bi-google me-2"></i>Sign Up With Google</a>
                <a class="text-center my-2" href="{% url 'home:login' %}" style="text-decoration: none; color: rgb(111, 111, 111);">I already have an account</a>
            </div>
        </div>
    </div>
{% endblock %}