{% load static %}
<div class="company-info-container container w-100 py-5" id="courses">
    <h3>Welcome to CyRent: Your Trusted Car Rental Partner in North Cyprus</h3>
    <h5 class="my-5">At CyRent, we’re dedicated to making your journey through the beautiful landscapes of North Cyprus smooth, convenient, and unforgettable. Whether you're exploring the historic streets of Kyrenia, sunbathing on the pristine beaches of the Karpaz Peninsula, or diving into the ancient history of Famagusta, our reliable car rental service ensures you get there with ease and comfort.</h5>
    <h4>Why Choose CyRent?</h4>
    <ul>
        <li class="py-1"><strong>Wide Range of Vehicles: </strong>From compact cars for city drives to spacious SUVs for family adventures, we have the perfect car for every need.</li>
        <li class="py-1"><strong>Affordable Prices: </strong>Enjoy competitive rates with no hidden fees, so you can travel worry-free.</li>
        <li class="py-1"><strong>Convenient Locations: </strong>Pick up and drop off your vehicle at major hubs across North Cyprus.</li>
        <li class="py-1"><strong>24/7 Customer Support: </strong>Our friendly team is always here to assist you, no matter where the road takes you.</li>
        <li class="py-1"><strong>Flexible Rentals: </strong>Whether it’s a short day trip or a long-term rental, we tailor our services to fit your plans.</li>
    </ul>
    
</div>