<div id="contact" class="contact-container">
    <div class="container">
        <div class="d-flex flex-row">
            <div class="col-6 d-flex flex-column">
                <a class="my-1" href=""><i class="bi bi-instagram me-2"></i>Instagram</a>
                <a class="my-1" href=""><i class="bi bi-github me-2"></i>Github</a>
                <a class="my-1" href=""><i class="bi bi-twitter-x me-2"></i>Twitter - X</a>
                <a class="my-1" href=""><i class="bi bi-facebook me-2"></i>Facebook</a>
            </div>
            <div class="col-6 d-flex flex-column">
                <p>vCamp headquarters address: </p>
                <p>some address</p>
            </div>
        </div>
    </div>
</div>