{% load static %}
<div class="courses-container container w-100" id="courses">
    <h3>vCamp Courses</h3>
    <br>
    <div class="d-flex flex-row justify-content-center" style="flex-wrap: wrap;">
        <div class="col-lg-3 col-md-4 col-sm-12 p-2">
            <div class="card course-card">
                <div class="card-body">
                    <img class="img-fluid course-img" src="https://picsum.photos/400/300" alt="">
                </div>
                <div class="card-footer">
                    <p>Regex Course</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12 p-2">
            <div class="card course-card">
                <div class="card-body">
                    <img class="img-fluid course-img" src="https://picsum.photos/400/300" alt="">
                </div>
                <div class="card-footer">
                    <p>Python Course</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12 p-2">
            <div class="card course-card">
                <div class="card-body">
                    <img class="img-fluid course-img" src="https://picsum.photos/400/300" alt="">
                </div>
                <div class="card-footer">
                    <p>C++ Course</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12 p-2">
            <div class="card course-card">
                <div class="card-body">
                    <img class="img-fluid course-img" src="https://picsum.photos/400/300" alt="">
                </div>
                <div class="card-footer">
                    <p>Recon Course</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12 p-2">
            <div class="card course-card">
                <div class="card-body">
                    <img class="img-fluid course-img" src="https://picsum.photos/400/300" alt="">
                </div>
                <div class="card-footer">
                    <p>Linux Course</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12 p-2">
            <div class="card course-card">
                <div class="card-body">
                    <img class="img-fluid course-img" src="https://picsum.photos/400/300" alt="">
                </div>
                <div class="card-footer">
                    <p>C Course</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12 p-2">
            <div class="card course-card">
                <div class="card-body">
                    <img class="img-fluid course-img" src="https://picsum.photos/400/300" alt="">
                </div>
                <div class="card-footer">
                    <p>WireShark Course</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12 p-2">
            <div class="card course-card">
                <div class="card-body">
                    <img class="img-fluid course-img" src="https://picsum.photos/400/300" alt="">
                </div>
                <div class="card-footer">
                    <p>Networking Course</p>
                </div>
            </div>
        </div>
    </div>
</div>