<div id="footer" class="footer-container">
    <div class="container">
        <div class="d-flex flex-row flex-wrap">
            <div class="col-6 d-flex flex-column">
                <a class="my-1" href=""><i class="bi bi-instagram me-2"></i>Instagram</a>
                <a class="my-1" href=""><i class="bi bi-github me-2"></i>Github</a>
                <a class="my-1" href=""><i class="bi bi-twitter-x me-2"></i>Twitter - X</a>
                <a class="my-1" href=""><i class="bi bi-facebook me-2"></i>Facebook</a>
            </div>
            <div class="col-6 d-flex flex-column">
                <div class="d-flex flex-row flex-wrap justify-content-between">
                    <div class="col-3 d-flex flex-column">
                        <p>Kyrenia Branch</p>
                        <p>123 Seaside Avenue, Kyrenia Harbour, North Cyprus</p>
                    </div>
                    <div class="col-3 d-flex flex-column">
                        <p>Lefkoşa (Nicosia) Branch</p>
                        <p>456 Atatürk Street,
                            Old Town, Lefkoşa,
                            North Cyprus</p>
                    </div>
                </div>
                <p>Feel free to visit us at either location or contact us for more information!</p>
            </div>
            
        </div>
    </div>
</div>