{% load static %}
<div class="hero">
    <!-- <img class="img-fluid hero-bg" src="https://picsum.photos/id/467/2880/2000/?grayscale&blur=10" alt=""> -->
    <div class="d-flex flex-column align-items-center container">
        <h1 class="slogan" style="margin-top: 150px;">IF <span style="color: rgb(0, 112, 203);">AI</span> CAN STEAL YOUR JOB,</h1>
        <h1 class="slogan" style="margin-bottom: 20px;">YOU'RE A SHITTY PROGRAMMER</h1>
        <a class="btn btn-primary btn-lg" href="{% url 'home:sign_up' %}">Start Being Irreplaceable</a>
    </div>
    
    
</div>