<section class="services-section py-5" id="services">
    <div class="container">
        <h3>Our Services at CyRent</h3>
        <h4 class="my-4">At CyRent, we offer a range of flexible and customer-focused car rental services to ensure you have the best experience while exploring North Cyprus.</h4>
        <hr>
        <div class="d-flex flex-row flex-wrap">
            <div class="d-flex flex-column col-lg-4 col-md-12 col-sm-12 p-3 text-center">
                <i class="bi bi-car-front-fill service-icon"></i>
                <h3>Wide Range of Vehicles</h3>
                <p>Choose from compact cars, SUVs, and luxury vehicles to suit your travel needs in North Cyprus.</p>
            </div>
            <div class="d-flex flex-column col-lg-4 col-md-12 col-sm-12 p-3 text-center">
                <i class="bi bi-card-list service-icon"></i>
                <h3>Flexible Rental Options</h3>
                <p>Rent a car for any duration, with flexible pick-up and drop-off locations across the island.</p>
            </div>
            <div class="d-flex flex-column col-lg-4 col-md-12 col-sm-12 p-3 text-center">
                <i class="bi bi-clock service-icon"></i>
                <h3>24/7 Customer Support and Roadside Assistance</h3>
                <p>Enjoy round-the-clock support and roadside assistance for a worry-free driving experience.</p>
            </div>

        </div>

</section>