<section id="testimonials">
  <div class="container">
    <h3 class="text-start text-light mb-5">Testimonials</h3>
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel" data-interval="2000" data-pause="hover">
      <div class="carousel-inner container justify-content-center">
        <div class="carousel-item active">
            <h2 class="testimonial-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab alias at be</h2>
            <img class="testimonial-image" src="https://picsum.photos/300/300" alt="">
            <em>lorem ipsum</em>
        </div>
        <div class="carousel-item">
            <h2 class="testimonial-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab alias at be</h2>
            <img class="testimonial-image" src="https://picsum.photos/300/300" alt="">
            <em>lorem ipsum</em>
        </div>
        <div class="carousel-item">
            <h2 class="testimonial-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab alias at be</h2>
            <img class="testimonial-image" src="https://picsum.photos/300/300" alt="">
            <em>lorem ipsum</em>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
    
</section>